@import '../../assets/css-variables/variables.scss';

#container-footer {
  box-sizing: border-box;
  height: fit-content;
  background-color: $background-primary-color;
  z-index: 2;

  #container-links {
    max-width: 1140px;
    padding: 20px;
    margin: auto;
    display: flex;
    row-gap: 30px;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;

    #links {
      width: 33.33%;
      display: flex;
      justify-content: center;
      gap: 20px;

      div {
        width: 100%;
        padding: 20px;

        h4 {
          color: $primary-color;
          font-family: $font-family;
          font-size: $font-median-size;
          cursor: pointer;
        }

        article {
          color: $font-color;
          font-family: $font-family;
          font-size: $font-min-size;
          margin-bottom: 10px;
          cursor: pointer;
          transition: all ease 0.1s;

          div {
            padding: 0;
          }

          mat-divider {
            background-color: $font-color;
            transition: all ease 0.1s;
          }

          &:hover {
            color: $accent-color;

            mat-divider {
              background-color: $accent-color;
            }
          }
        }
      }

      .divider {
        border-left: 1px solid $accent-color;
      }
    }
  }

  #container-social-links {
    max-width: 1140px;
    padding: 15px 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    #created-by {
      text-align: center;

      h3 {
        color: $background-ternary-color;
        font-family: $font-family;
        margin: 0;
      }
    }

    #social-links {
      ul {
        margin: 0;
        padding: 0;
        display: flex;
        gap: 10px;

        li {
          list-style: none;
          cursor: pointer;

          img {
            height: 30px;
          }
        }
      }
    }
  }
}

@media (max-width: 860px) {
  #container-footer {
    #container-links {
      #links {
        width: 50%;
        justify-content: flex-start;
      }
    }
  }
}

@media (max-width: 580px) {
  #container-footer {
    #container-links {
      flex-direction: column;
      row-gap: 0;

      #links {
        width: 100%;
        justify-content: flex-start;

        div {
          h4 {
            font-size: $font-normal-size;
          }
        }

        .divider {
          border-left: none;
        }

        .divider-vertical {
          border-bottom: 1px solid $accent-color;
        }
      }
    }

    #container-social-links {
      flex-direction: column;
      padding: 0 0 20px 0;

      #created-by {
        h3 {
          font-size: $font-min-size;
        }
      }
    }
  }
}
