@import '../../assets/css-variables/mainVariables.scss';

#container-social-links {
  background-color: $ternary-black;
  box-sizing: border-box;
  height: $footer-height;
  padding: 20px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  #created-by {
    text-align: center;

    h3 {
      color: $font-color;
      font-family: $font-family;
      margin: 2px;
    }
  }

  #social-links {
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      gap: 10px;

      li {
        list-style: none;
        height: $icon-size;
        cursor: pointer;

        img {
          height: $icon-size;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  #container-social-links {
    height: fit-content;
    flex-wrap: wrap;
  }
}
