@import '../../assets/css-variables/mainVariables.scss';

#container-social-links {
  background-color: $ternary-black;
  padding: 20px 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  #created-by {
    text-align: center;

    h3 {
      color: $font-color;
      font-family: $font-family;
      margin: 2px;
    }
  }

  #social-links {
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      gap: 10px;

      li {
        list-style: none;
        height: $icon-size;
        cursor: pointer;

        img {
          height: $icon-size;
        }
      }
    }
  }
}

@media (max-width: 860px) {
  #container-footer {
    #container-links {
      #links {
        width: 50%;
        justify-content: flex-start;
      }
    }
  }
}

@media (max-width: 580px) {
  #container-footer {
    #container-links {
      flex-direction: column;
      row-gap: 0;

      #links {
        width: 100%;
        justify-content: flex-start;

        div {
          h4 {
            font-size: $font-normal-size;
          }
        }

        .divider {
          border-left: none;
        }

        .divider-vertical {
          border-bottom: 1px solid $low-red;
        }
      }
    }

    #container-social-links {
      flex-direction: column;
      padding: 0 0 20px 0;

      #created-by {
        h3 {
          font-size: $font-min-size;
        }
      }
    }
  }
}
