<div id="container-footer">

  <!-- Container com os links por categoria(titulo) -->
  <article id="container-links">

    <!-- Cada categoria de links -->
    <section id="links" *ngFor="let module of projectLinks; let i = index">

      <!-- Area dos links -->
      <div
        [ngClass]="i == projectLinks.length -1 && i != 0 && i!= 3 ? 'divider' : (i != 0 && i != 3 ? 'divider divider-vertical' : 'divider-vertical')">
        <h4>{{ module.title }}</h4>

        <!-- Links da categoria -->
        <article *ngFor="let project of module.projectLinks" (click)="goTo(project.link)">
          {{ project.projectTitle }}
          <mat-divider></mat-divider>
        </article>
      </div>
    </section>
  </article>

  <!-- Container dos links pessoais -->
  <article id="container-social-links">

    <!-- Frase de "cirado por" -->
    <section id="created-by">
      <h3>Criado por Guilherme França</h3>
    </section>

    <!-- Lista das redes sociais -->
    <section id="social-links">
      <ul>
        <li *ngFor="let mainLink of mainLinks">
          <img [src]="mainLink.icon" [alt]="mainLink.description" (click)="goTo(mainLink.link)">
        </li>
      </ul>
    </section>
  </article>
</div>
