<!-- Titulo lista de projetos vazio -->
<section id="empty-project-list" *ngIf="filteredProjects.length == 0">
  <h2>Nenhum Projeto encontrado</h2>
  <p>Talvez o projeto que procura não esteja listado, ou disponível no meu GitHub. ¯\_(ツ)_/¯</p>
</section>

<!-- Container da lista -->
<section id="container-list">

  <!-- Card de apresentação do projeto -->
  <mat-card *ngFor="let project of filteredProjects">

    <!-- Imagem do card -->
    <div class="card-img">
      <img class="img-background" [src]="project.getImg" [alt]="project.getTitle">
      <img [src]="project.getImg" [alt]="project.getTitle">
    </div>

    <mat-card-content>
      <h4>{{ project.getTitle }}</h4>
      <p>{{ project.getDesc }}</p>
    </mat-card-content>

    <mat-card-actions>
      <button (click)="goToDetails(project.getId)">Ver mais</button>
    </mat-card-actions>
  </mat-card>
</section>
