@import '../../../assets/css-variables/mainVariables.scss';

#empty-project-list {
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  h2 {
    font-family: $font-family;
    color: $primary-red;
    letter-spacing: 10px;
    font-size: $font-large-size;
  }

  p {
    font-family: $font-family;
    color: $font-color;
    font-size: $font-min-size;
  }
}

#container-list {
  margin: 30px 0;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;

  mat-card {
    width: 32%;
    overflow: hidden;
    height: fit-content;
    background-color: $ternary-black;

    .card-img {
      width: 100%;
      height: 300px;
      position: relative;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 20;
        position: absolute;
        top: 0;
        left: 0;
      }

      .img-background {
        object-fit: cover;
        filter: blur(5px);
        z-index: 10;
      }
    }

    mat-card-content {
      box-sizing: border-box;
      height: 200px;
      padding: 10px;

      h4 {
        font-family: $font-family;
        color: $primary-red;
        font-size: $font-normal-size;
      }

      p {
        font-family: $font-family;
        color: $font-color;
        font-size: $font-min-size;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    mat-card-actions {
      padding: 0 10px 10px 10px;

      button {
        width: 100%;
        height: $button-height;
        border: none;
        border-radius: 2px;
        font-family: $font-family;
        font-size: $font-min-size;
        color: $font-color;
        background-color: $secondary-red;
        transition: all ease 0.3s;

        &:hover {
          background-color: $primary-red;
        }
      }
    }
  }
}

@media (max-width: 1110px) {
  #container-list {
    mat-card {
      width: 47%;
    }
  }
}

@media (max-width: 800px) {
  #empty-project-list {
    h2 {
      letter-spacing: 5px;
    }
  }

  #container-list {
    mat-card {
      width: 100%;
    }
  }
}
