<!-- Titulo lista de projetos vazio -->
<section id="empty-project-list">
  <h2>Nenhum Projeto encontrado</h2>
  <p>Talvez o projeto que procura não esteja listado, ou disponível no meu GitHub. ¯\_(ツ)_/¯</p>
</section>

<!-- Container da lista -->
<section id="container-list">

  <!-- Card de apresentação do projeto -->
  <mat-card>

    <!-- Imagem do card -->
    <div class="card-img">
    </div>

    <mat-card-content>
    </mat-card-content>

    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
</section>
