@import '../../assets/css-variables/variables.scss';

.title {
  background-color: $background-secondary-color;
  border: 1px solid $background-ternary-color;
  border-radius: 4px;
  padding: 20px;

  .text-title {
    text-align: center;

    h2 {
        color: $primary-color;
        font-family: $font-family;
        font-size: $font-xlarge-size;
    }

    p {
        color: $font-color;
        font-family: $font-family;
        font-size: $font-min-size;
    }
  }
}
