@import '../../assets/css-variables/mainVariables.scss';

#container-projects {
  min-height: calc(100vh - $footer-height);
  padding: 0 20px;

  mat-icon {
    position: fixed;
    right: -100px;
    bottom: 20px;
    z-index: 60;
    padding: 10px;
    border-radius: 5px 35% 5px 35%;
    background-color: $secondary-red;
    font-size: $icon-size;
    color: $font-color;
    height: $icon-size;
    width: $icon-size;
    cursor: pointer;
    transition: background-color ease 0.3s;
    transition: right ease 0.7s;

    &:hover {
      background-color: $primary-red;
    }
  }

  .visible {
    right: 20px;
  }
}
