<!-- Titulo ver todos os projetos -->
<article class="title" *ngIf="module === ''">
  <section class="text-title">
    <h2>Todos os projetos</h2>
    <p>
      Aqui você vai encontrar todos os projetos que já fiz, você pode filtrar de acordo com as ferramentas
      utilizadas.
    </p>
  </section>

  <mat-divider></mat-divider>

  <section>
    <img *ngFor="let tool of tools" [src]="tool.src" [alt]="tool.name" (click)="filter(tool.name)">
  </section>
</article>

<!-- Titulo projeto por modulo -->
<article class="title" *ngIf="module !== ''">

</article>
