@import '../../assets/css-variables/variables.scss';

#background {
  position: relative;
  background-image: url('https://i.ibb.co/mXgW9Hn/fundo.jpg');
  background-attachment: fixed;
  background-size: cover;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(to top, #000000, transparent);
    z-index: 1;
  }

  #container-router {
    max-width: 1140px;
    padding: 68px 0;
    position: relative;
    margin: auto;
    z-index: 2;
  }
}

@media (max-width: 1266px) {
  #background {
    #container-router {
      width: 90%;
    }
  }
}

@media (max-width: 500px) {
  #background {
    background-image: none;
    background-color: $background-secondary-color;

    &::before {
      height: 40px;
      z-index: 3;
    }
    
    #container-router {
      width: 100%;
      padding: 68px 0;
    }
  }
}
