@import '../../assets/css-variables/mainVariables.scss';
@import '../../assets/css-variables/asideMenuVariables.scss';

#background {
  background: $primary-black;
  padding-left: $menu-width;

  #container-router {
    width: 100%;
  }
}

#loading {
  background-color: $primary-black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease 1s;
}

.visible {
  z-index: 100;
}

.hidden {
  z-index: -1;
  opacity: 0;
}

@media (max-width: 800px) {
  #background {
    padding-left: 0;
    padding-top: $button-height;
  }
}
