@import '../../../assets/css-variables/mainVariables.scss';


#categories {
  height: fit-content;
  padding: 20px;

  #categories-desc {
    text-align: center;

    h2 {
      font-family: $font-family;
      color: $primary-red;
      font-size: $font-large-size;
      font-weight: bold;
      letter-spacing: 10px;
      margin-bottom: 30px;
    }
  }

  #container-categories {
    position: relative;
    overflow: hidden;
    height: 65vh;
    border: 1px solid $ternary-black;
    border-radius: 5px;

    nav {
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 0;
      background-color: $ternary-black;
      height: calc($button-height + 8px);
      padding-top: 10px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      .item-button {
        height: calc($icon-size + 8px);
        width: $button-height;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        cursor: pointer;

        img {
          height: $icon-size;
          filter: grayscale(100%);
          transition: all ease 0.2s;
        }

        mat-divider {
          background: red;
          border-radius: 5px;
          width: 0px;
          transition: all ease 0.1s;
        }

        &:hover {
          img {
            filter: grayscale(0);
          }

          mat-divider {
            width: 100%;
            padding: 2px;
          }
        }
      }
    }

    #itens {
      background: $low-black;
      box-sizing: border-box;
      height: calc(100% - ($button-height + 8px));
      margin-top: calc($button-height + 8px);
      overflow-y: scroll;
      display: flex;
      flex-direction: column;

      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: $primary-red;
        border: 2px solid $low-black;
      }

      div {
        padding: 10px 40px;

        .item-title {
          display: flex;
          align-items: center;
          gap: 20px;

          img {
            height: $icon-size;
          }

          h2 {
            margin: 0;
            font-family: $font-family;
            font-size: $font-median-size;
          }
        }

        p {
          font-family: $font-family;
          font-size: $font-min-size;
        }

        button {
          height: $button-height;
          width: 100%;
          margin-bottom: 20px;
          border-radius: 2px;
          border: none;
          background: $ternary-red;
          font-family: $font-family;
          font-size: $font-normal-size;
          color: $font-color;
          transition: all ease 0.3s;

          &:hover {
            background: $secondary-red;
          }
        }
      }
    }
  }
}
