<!-- Começo do menu -->
<aside id="aside-menu">

  <!-- Navegação -->
  <div id="links-menu">
    <nav>

      <!-- Link para home -->
      <button routerLink="home" (click)="closeMenu()">
        <mat-icon class="icon">home</mat-icon>
        <p>Home</p>
      </button>

      <!-- Link para todos os projetos -->
      <button (click)="[goToProjects(''), closeMenu()]">
        <mat-icon class="icon">book</mat-icon>
        <p>Projetos</p>
      </button>

      <!-- Linkis por linguagem -->
      <button *ngFor="let module of mainCategories" (click)="[goToProjects(module.getName), closeMenu()]">
        <img class="icon" [src]="module.getIcon" [alt]="module.getName">
        <p>{{ module.getName }}</p>
      </button>
    </nav>
  </div>
</aside>
