@import '../../assets/css-variables/variables.scss';

#button-menu {
  border: none;
  width: 48px;
  height: 48px;
  background-color: $background-secondary-color;
  color: $secondary-color;
  border-radius: 5px;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 2;
  transition: all ease 0.5s;

  &:hover {
    color: $accent-color;
  }
}

aside {
  width: 40vw;
  max-width: 600px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: $background-primary-color;
  position: fixed;
  top: 0px;
  left: -600px;
  z-index: 1;
  transition: all linear 0.4s;

  #header-menu {
    height: fit-content;
    width: 100%;
    padding: 70px 0 10px 0;
    display: flex;
    flex-direction: column;

    #presentation {
      box-sizing: border-box;
      width: 100%;
      padding: 0 20px;
      display: flex;
      align-items: center;
      gap: 20px;

      #img-container {
        width: 30%;
        aspect-ratio: 1/1;
        border-radius: 50%;
        overflow: hidden;
        border: 4px solid $primary-color;

        img {
          width: 100%;
        }
      }

      #info-container {
        box-sizing: border-box;
        padding-right: 20px;
        color: $font-color;

        h2 {
          font-size: $font-median-size;
          font-family: $font-family;
          color: $primary-color;
          font-weight: bold;
          margin: 0;
        }

        h3 {
          font-size: $font-min-size;
          font-family: $font-family;
          margin: 0;
        }
      }
    }

    #main-links {
      box-sizing: border-box;
      width: 100%;
      padding-right: 20px;
      display: flex;
      align-items: center;

      ul {
        padding: 0;
        height: fit-content;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 10px;

        li {
          list-style: none;
          cursor: default;

          a {
            padding-bottom: 5px;

            img {
              height: 30px;
            }
          }
        }
      }
    }
  }

  mat-divider {
    background-color: $background-secondary-color;
  }

  #links-menu {
    padding: 10px 20px 10px 20px;

    nav {
      display: flex;
      flex-direction: column;
      gap: 5px;

      button {
        height: 48px;
        padding: 0 24px;
        border: none;
        border-radius: 4px;
        display: flex;
        align-items: center;
        background-color: $background-secondary-color;
        color: $font-color;
        cursor: pointer;
        transition: all ease 0.1s;

        mat-icon {
          width: $font-xlarge-size;
          height: $font-xlarge-size;
          font-size: $font-xlarge-size;
          color: $primary-color;
        }

        p {
          margin: 2px 20px 0 20px;
          font-size: $font-median-size;
          font-family: $font-family;
          transition: all ease 0.1s;
        }

        &:hover {
          p {
            color: $accent-color;
          }
        }
      }

      mat-expansion-panel {
        background-color: $background-secondary-color;

        mat-expansion-panel-header {
          mat-panel-title {
            img {
              height: $font-xlarge-size;
            }

            p {
              margin: 2px 20px 0 20px;
              font-size: $font-median-size;
              font-family: $font-family;
              color: $font-color;
              transition: all ease 0.1s;
            }

          }

          &:hover {
            mat-panel-title {
              p {
                color: $accent-color;
              }
            }
          }
        }

        div {
          padding-left: 0 52px;
          width: 100%;
          cursor: pointer;
          font-family: $font-family;
          color: $font-color;
          text-decoration: none;
          transition: all ease 0.1s;

          mat-divider {
            background-color: $background-ternary-color;
            transition: all ease 0.1s;
          }

          &:hover {
            color: $accent-color;

            mat-divider {
              background-color: $accent-color;
            }
          }
        }

        &:focus,
        :target,
        :hover {
          background-color: $background-secondary-color;
        }
      }
    }
  }

  &::-webkit-scrollbar {
    width: 0;
  }
}

.translate-menu {
  left: 0;
}

#transparent-container {
  height: 100vh;
  width: 100vw;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  left: 0px;
  transition: all ease 0.3s;
}

@media (max-width: 1180px) {
  #img-container {
    display: none;
  }
}

@media (max-width: 980px),
(min-width: 580px) {
  aside {
    width: 80vw;

    #img-container {
      display: block;
    }
  }
}

@media (max-width: 580px) {
  aside {
    width: 80vw;

    #img-container {
      display: none;
    }
  }
}

@media (max-width: 480px) {
  aside {
    width: 95vw;
  }
}
