@import '../../assets/css-variables/mainVariables.scss';

div {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  width: 100vw;
  height: $button-height;
  background-color: $secondary-black;

  #open-menu-button {
    height: 100%;
    width: $menu-width;
    border-radius: 0px;
    border: none;
    background-color: $secondary-black;

    mat-icon {
      font-size: $icon-size;
      height: $icon-size;
      width: $icon-size;
      color: $low-red;

      &:hover {
        color: $primary-red;
      }
    }
  }
}

aside {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  width: $menu-width;
  max-width: $menu-width;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: $secondary-black;
  transition: all ease 0.5s;

  #close-menu-button {
    width: $menu-width;
    height: $button-height;
    background-color: $secondary-black;
    border-radius: 0px;
    border: none;
    display: none;

    mat-icon {
      font-size: $icon-size;
      height: $icon-size;
      width: $icon-size;
      color: $low-red;

      &:hover {
        color: $primary-red;
      }
    }
  }

  nav {
    width: $menu-width;
    display: flex;
    flex-direction: column;

    button {
      height: $button-height;
      width: $menu-width;
      border: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: $secondary-black;
      color: $font-color;
      cursor: pointer;
      filter: grayscale(100%);
      transition: filter ease 0.5s;

      .icon {
        width: $icon-size;
        height: $icon-size;
        font-size: $icon-size;
        color: $primary-red;
      }

      p {
        width: 0;
        margin: 2px;
        overflow: hidden;
        font-size: $font-median-size;
        font-family: $font-family;
      }

      &:hover {
        width: fit-content;
        min-width: $menu-width;
        background-color: $ternary-black;
        padding-left: 17px;
        filter: grayscale(0%);

        p {
          width: 200px;
          transition: all ease 0.5s;
        }
      }
    }

    mat-divider {
      background-color: $low-black;
      width: 80%;
      margin: 5px auto;
      display: none;
    }
  }
}

.visible {
  left: 0px;
  box-shadow: 50px 0px 50px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 50px 0px 50px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 50px 0px 50px 0px rgba(0, 0, 0, 0.75);
}

@media (max-width: 800px) {
  div {
    display: block;
  }

  aside {
    left: -100%;
    width: 80vw;
    max-width: 400px;

    #close-menu-button {
      display: block;
      position: absolute;
      right: 0px;
      top: 0px;
    }

    nav {
      width: 100%;

      button {
        width: 100%;
        padding-left: 20px;
        justify-content: start;

        p {
          width: fit-content;
        }

        &:hover {
          width: 100%;
          padding-left: 20px;

          p {
            width: fit-content;
          }
        }
      }

      .sub-item {
        padding-left: 63px;

        &:hover {
          padding-left: 63px;
        }
      }

      mat-divider {
        display: block;
      }
    }
  }
}

@media (max-width: 414px) {
  aside {
    width: 95vw;
  }
}
