@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

$primary-red: #e3492d;
$secondary-red: #bb3722;
$ternary-red: #922517;
$low-red: #de5757;

$primary-black: #121212;
$secondary-black: #0a0a0a;
$ternary-black: #050505;
$low-black: #474747;

$font-family: 'IBM Plex Mono', monospace;

$font-color: #bababa;

$font-min-size: 14px;
$font-normal-size: 18px;
$font-median-size: 22px;
$font-large-size: 26px;
$font-xlarge-size: 34px;
