@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

$primary-red: #e3492d;
$secondary-red: #bb3722;
$ternary-red: #922517;
$low-red: #de5757;

$primary-black: #121212;
$secondary-black: #0c0c0c;
$ternary-black: #050505;
$low-black: #5e5e5e;
$full-black: #000000;

$font-family: 'IBM Plex Mono', monospace;

$font-color: #bababa;

$font-min-size: 16px;
$font-normal-size: 20px;
$font-median-size: 24px;
$font-large-size: 28px;
$font-xlarge-size: 36px;

$menu-width: 70px;
$button-height: 48px;
$footer-height: 75px;
$icon-size: 33px;
