@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

$primary-color: rgb(255, 0, 0);
$accent-color: rgb(255, 83, 83);
$secondary-color: rgb(168, 0, 0);

$background-primary-color: rgb(0, 0, 0);
$background-secondary-color: rgb(18, 18, 18);

$font-family: 'IBM Plex Mono',
monospace;

$font-color: rgb(186, 186, 186);

$font-min-size: 12px;
$font-normal-size: 16px;
$font-median-size: 20px;
$font-large-size: 24px;
$font-xlarge-size: 32px;
