@import '../../assets/css-variables/mainVariables.scss';

#container-home {
  min-height: 96vh;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0 20px;

  app-presentation,
  app-categories {
    width: 50%;
    min-width: 550px;
  }

  mat-divider {
    background: $low-black;
    height: 56vh;
  }
}

@media (max-width: 1200px) {
  #container-home {
    flex-wrap: wrap;

    mat-divider {
      display: none;
    }

    app-presentation,
    app-categories {
      width: 100%;
    }
  }
}

@media (max-width: 800px) {
  #container-home {

    app-presentation,
    app-categories {
      min-width: 0;
    }
  }
}
