@import '../../assets/css-variables/variables.scss';

#container-home {
  #presentation {
    background-color: $background-secondary-color;
    border: 1px solid $background-ternary-color;
    border-radius: 4px;
    padding: 20px;

    #name-info {
      text-align: center;

      h1 {
        font-family: $font-family;
        font-size: $font-xlarge-size;
        color: $primary-color;
        letter-spacing: 10px;
        font-weight: bold;
      }

      h2 {
        font-family: $font-family;
        letter-spacing: 10px;
        color: $accent-color;
        margin: 0;
      }
    }

    mat-divider {
      background-color: $background-ternary-color;
      margin: 20px 0;
    }

    #text-info {
      color: $font-color;
      font-family: $font-family;
      font-size: $font-min-size;
      text-align: center;

      p {
        margin: 0;
        line-height: $font-median-size;
      }

      .title {
        margin-top: 10px;
        font-weight: bold;
      }

      ul {
        padding: 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 5px;

        li {
          list-style: none;
          cursor: pointer;
        }
      }
    }
  }

  #categories {
    background-color: $background-secondary-color;
    border: 1px solid $background-ternary-color;
    border-radius: 4px;
    padding: 20px;
    margin-top: 20px;

    #categories-desc {
      text-align: center;

      h2 {
        font-family: $font-family;
        color: $primary-color;
        font-size: $font-large-size;
        font-weight: bold;
        letter-spacing: 10px;
      }

      h3 {
        font-family: $font-family;
        color: $accent-color;
        font-size: $font-median-size;
        letter-spacing: 10px;
        margin: 0;
      }
    }

    mat-divider {
      background-color: $background-ternary-color;
      margin: 20px 0;
    }

    #categories-itens {
      display: flex;
      flex-direction: column;
      gap: 10px;

      mat-expansion-panel {
        background-color: $background-ternary-color;

        mat-expansion-panel-header {
          mat-panel-title {
            img {
              height: 38px;
            }

            p {
              margin: 0 0 0 20px;
              font-family: $font-family;
              color: $font-color;
              font-size: $font-median-size;
            }
          }
        }

        div {
          p {
            font-family: $font-family;
            color: $font-color;
            font-size: $font-min-size;
            line-height: $font-median-size;
          }

          button {
            border: none;
            background-color: $secondary-color;
            height: 48px;
            width: 100%;
            border-radius: 4px;
            font-family: $font-family;
            color: $font-color;
            font-size: $font-normal-size;
            cursor: pointer;
            transition: all ease 0.3s;

            &:hover {
              background-color: $primary-color;
              transform: scale(1.01);
              font-weight: 600;
            }
          }
        }

        &:focus,
        :target,
        :hover {
          background-color: $background-ternary-color;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  #container-home {

    #presentation,
    #categories {
      border: none;
    }
  }
}

@media (max-width: 280px) {
  #container-home {
    #presentation {
      #name-info {
        h1, h2 {
          letter-spacing: 5px;
        }
      }
    }

    #categories {
      #categories-desc {
        h2, h3 {
          letter-spacing: 5px;
        }
      }
    }
  }
}
