<article id="project-info">
  <section id="title">
    <h1>{{ project.getTitle }}</h1>
    <p>{{ project.getDescription }}</p>
  </section>

  <mat-divider></mat-divider>

  <section id="image">
    <img [src]="project.getImage" [alt]="project.getTitle">
  </section>

  <section id="interactions">
    <div id="likes">
      <mat-icon (click)="toggleLike()">
        {{ liked ? "favorite" : "favorite_border" }}
      </mat-icon>
      <p>{{ project.getLikes }}</p>
    </div>
    <mat-icon>message</mat-icon>
  </section>

  <section id="readme" *ngIf="readmeContent !== ''">
    <div id="header-readme">
      <h3>README.md</h3>
    </div>

    <div id="content-readme" [innerHTML]="readmeContent">
    </div>

    <section id="access">
      <button (click)="goTo(project.getLinkGH)">GitHub</button>
      <button *ngIf="project.getLinkPG !== ''" (click)="goTo(project.getLinkPG)">Acessar</button>
    </section>
  </section>
</article>
