<article id="project-info">
  <section id="title">
    <h1>{{ project.getTitle }}</h1>
    <p>{{ project.getDescription }}</p>
  </section>

  <mat-divider></mat-divider>

  <section id="image">
    <img [src]="project.getImage" [alt]="project.getTitle">
  </section>

  <section id="interactions">
    <div id="likes">
      <mat-icon (click)="toggleLike()">
        {{ liked ? "favorite" : "favorite_border" }}
      </mat-icon>
      <p>{{ project.getLikes }}</p>
    </div>
    <mat-icon class="disabled" (click)="comingSoon()">message</mat-icon>
  </section>

  <section id="readme" *ngIf="readmeContent !== ''">
    <div id="header-readme">
      <h3>README.md</h3>
    </div>

    <div id="content-readme" [innerHTML]="readmeContent">
    </div>

    <section id="access">
      <button (click)="goTo(project.getLinkGH)">GitHub</button>
      <button *ngIf="project.getLinkPG !== ''" (click)="goTo(project.getLinkPG)">Acessar</button>
    </section>
  </section>
</article>

<!-- <article id="comments">
  <h3>Comentários</h3>


  <section id="container-comments">
    <div class="comment" *ngFor="let comment of comments, let i = index">
      <div class="container-content">
        <div class="votes">
          <div class="up" (click)="voteUp(comment.obj, comment.votedUp)">
            <mat-icon [ngClass]="comment.votedUp ? 'voted-up' : ''">keyboard_arrow_up</mat-icon>
            <p>{{ comment.obj.getUp }}</p>
          </div>
          <mat-divider></mat-divider>
          <div class="down" (click)="voteDown(comment.obj, comment.votedDown)">
            <p>{{ comment.obj.getDown }}</p>
            <mat-icon [ngClass]="comment.votedDown ? 'voted-down' : ''">keyboard_arrow_down</mat-icon>
          </div>
        </div>
        <div class="message">
          <p class="msg-title">{{ comment.obj.getNick }}</p>
          <p class="msg-content">{{ comment.obj.getMessage }}</p>
        </div>
      </div>

      <mat-divider *ngIf="i !== comments.length - 1"></mat-divider>
    </div>
  </section>
</article> -->
