<article id="project-info">
  <section id="title">
    <h1>{{ project.getTitle }}</h1>
  </section>

  <mat-divider></mat-divider>

  <section id="image">
    <img [src]="project.getImg" [alt]="project.getTitle">
  </section>

  <section id="readme" *ngIf="readmeContent !== ''">
    <div id="header-readme">
      <h3>README.md</h3>
    </div>

    <div id="content-readme" [innerHTML]="readmeContent">
    </div>
  </section>

  <section id="access">
    <button>GitHub</button>
    <button *ngIf="project.getLinkPG !== ''">Acessar</button>
  </section>
</article>
