@import '../../assets/css-variables/mainVariables.scss';

#project-info {
  padding: 50px 20px 10px 20px;

  #title {
    h1 {
      font-size: $font-xlarge-size;
      font-family: $font-family;
      color: $primary-red;
      letter-spacing: 10px;
    }

    p {
      font-family: $font-family;
      color: $font-color;
      font-size: $font-min-size;
      margin: 0;
    }
  }

  mat-divider {
    background-color: $low-black;
    margin: 20px 0;
  }

  #image {
    width: fit-content;
    height: min-content;
    box-sizing: border-box;
    margin: auto;
    padding: 10px 10px 4px 10px;
    border: 2px solid $primary-red;
    border-radius: 20px;

    img {
      height: 100%;
      max-height: 500px;
      max-width: 100%;
      border-radius: 10px;
    }
  }

  #interactions {
    width: 100%;
    padding-top: 20px;
    display: flex;
    gap: 30px;
    justify-content: center;

    #likes {
      display: flex;
      gap: 10px;
      align-items: center;

      mat-icon {
        width: $icon-size;
        height: $icon-size;
        font-size: $icon-size;
        color: $secondary-red;
        cursor: pointer;
        transition: all ease 0.3s;

        &:hover {
          color: $primary-red;
        }
      }

      p {
        font-family: $font-family;
        font-size: $font-normal-size;
        color: $font-color;
        margin: 0;
      }
    }

    mat-icon {
      width: $icon-size;
      height: $icon-size;
      font-size: $icon-size;
      color: $secondary-red;
      cursor: pointer;
      transition: all ease 0.3s;

      &:hover {
        color: $primary-red;
      }
    }

    .disabled {
      filter: grayscale(100%);
    }
  }

  #readme {
    box-sizing: border-box;
    width: 100%;
    margin-top: 20px;
    border: 2px solid $low-black;
    border-radius: 10px;

    #header-readme {
      padding: 10px;
      border-bottom: 2px solid $low-black;

      h3 {
        color: $low-black;
        font-family: $font-family;
        font-size: $font-median-size;
        margin: 0;
      }
    }

    #content-readme {
      padding: 20px;
      color: $font-color;
    }

    #access {
      padding: 0 15px 15px 15px;
      display: flex;
      gap: 10px;

      button {
        border: none;
        border-radius: 5px;
        height: $button-height;
        width: 100%;
        background-color: $secondary-red;
        color: $font-color;
        font-family: $font-family;
        font-size: $font-normal-size;
        cursor: pointer;
        transition: all ease 0.3s;

        &:hover {
          background-color: $primary-red;
        }
      }
    }
  }
}

#comments {
  padding: 20px;

  h3 {
    font-size: $font-large-size;
    font-family: $font-family;
    color: $primary-red;
    letter-spacing: 10px;
  }

  #container-comments {
    overflow: hidden;
    overflow-y: scroll;
    height: 50vh;
    background-color: $low-black;
    border: 1px solid $ternary-black;
    border-radius: 5px;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background: $primary-red;
      border: 2px solid $low-black;
    }

    .comment {
      padding: 15px 20px 0 20px;

      .container-content {
        display: flex;
        align-items: center;

        .votes {
          padding: 0 10px;
          background-color: $ternary-black;
          border-radius: 5px;

          .up {
            text-align: center;
            margin-bottom: 5px;
            cursor: pointer;

            mat-icon {
              height: $font-large-size;
              width: $font-xlarge-size;
              font-size: $font-xlarge-size;
              color: $low-black;
            }

            p {
              margin: 3px 0 0 0;
              font-family: $font-family;
              font-size: $font-min-size;
              color: $green-vote;
            }

            .voted-up {
              color: $green-vote;
            }
          }

          mat-divider {
            background-color: $primary-black;
            width: 80%;
            margin: auto;
          }

          .down {
            text-align: center;
            margin-top: 5px;
            cursor: pointer;

            mat-icon {
              height: $font-large-size;
              width: $font-xlarge-size;
              font-size: $font-xlarge-size;
              color: $low-black;
            }

            p {
              margin: 0;
              font-family: $font-family;
              font-size: $font-min-size;
              color: $secondary-red;
            }

            .voted-down {
              color: $secondary-red;
            }
          }
        }

        .message {
          padding: 0 20px;

          .msg-title {
            font-family: $font-family;
            color: $secondary-black;
            font-size: $font-normal-size;
            font-weight: bold;
          }

          .msg-content {
            font-family: $font-family;
            color: $font-color;
            font-size: $font-min-size;
            margin: 0;
          }
        }
      }
    }

    mat-divider {
      margin-top: 15px;
      background-color: $primary-black;
    }
  }
}

@media (max-width: 800px) {
  #project-info {
    #image {
      height: fit-content;
    }
  }
}

@media (max-width: 400px) {
  #project-info {
    #title {
      h1 {
        font-size: $font-large-size;
      }
    }

    #readme {
      #header-readme {
        h3 {
          font-size: $font-normal-size;
        }
      }

      #content-readme {
        padding: 10px;
      }
    }
  }
}
