@import '../../assets/css-variables/mainVariables.scss';

#project-info {
  padding: 50px 20px;

  #title {
    h1 {
      font-size: $font-xlarge-size;
      font-family: $font-family;
      color: $primary-red;
      letter-spacing: 10px;
    }

    p {
      font-family: $font-family;
      color: $font-color;
      font-size: $font-min-size;
      margin: 0;
    }
  }

  mat-divider {
    background-color: $low-black;
    margin: 20px 0;
  }

  #image {
    width: fit-content;
    height: min-content;
    box-sizing: border-box;
    margin: auto;
    padding: 10px 10px 4px 10px;
    border: 2px solid $primary-red;
    border-radius: 20px;

    img {
      height: 100%;
      max-height: 500px;
      max-width: 100%;
      border-radius: 10px;
    }
  }

  #readme {
    box-sizing: border-box;
    width: 100%;
    margin-top: 20px;
    border: 2px solid $low-black;
    border-radius: 10px;

    #header-readme {
      padding: 10px;
      border-bottom: 2px solid $low-black;

      h3 {
        color: $low-black;
        font-family: $font-family;
        font-size: $font-median-size;
        margin: 0;
      }
    }

    #content-readme {
      padding: 20px;
      color: $font-color;
    }

    #access {
      padding: 0 15px 15px 15px;
      display: flex;
      gap: 10px;

      button {
        border: none;
        border-radius: 5px;
        height: $button-height;
        width: 100%;
        background-color: $secondary-red;
        color: $font-color;
        font-family: $font-family;
        font-size: $font-normal-size;
        cursor: pointer;
        transition: all ease 0.3s;

        &:hover {
          background-color: $primary-red;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  #project-info {
    #image {
      height: fit-content;
    }
  }
}

@media (max-width: 400px) {
  #project-info {
    #title {
      h1 {
        font-size: $font-large-size;
      }
    }

    #readme {
      #header-readme {
        h3 {
          font-size: $font-normal-size;
        }
      }

      #content-readme {
        padding: 10px;
      }
    }
  }
}
