<!-- Titulo projetos -->
<section id="pg-title">
  <h2>Projetos</h2>
  <p>
    Aqui você vai encontrar todos os projetos que já fiz! (alguns individuais, e outros em conjunto com meus colegas).
    <br>
    Para facilitar sua busca, você pode filtrar os projetos de acordo com a linguagem ou framework utilizado.
  </p>
</section>

<!-- Filtros aplicados -->
<section id="filters">
  <div id="head-filters" (click)="toggleVisible()">
    <h5>Filtros</h5>
    <mat-icon>filter_list</mat-icon>
  </div>

  <div id="container-filters" class="container-filters">
    <div *ngFor="let category of categories, let i = index" [ngClass]="i == 1 ? 'midle' : ''">

      <article class="title-category">
        <p>{{ category.title }}</p>
        <mat-divider></mat-divider>
      </article>

      <ul>
        <article *ngFor="let filter of languagesFilter, let i = index">
          <div [ngClass]="[filter.language.getType == category.category ? '' : 'display-none',
                        (filter.match || filter.active) ? '' : 'disabled']" (click)="toggleActive(filter.language)">
            <div class="internal-container">
              <div class="container-check">
                <mat-icon *ngIf="filter.active">check</mat-icon>
                <mat-icon class="close" *ngIf="filter.active">close</mat-icon>
              </div>
              <img [src]="filter.language.getStick" [alt]="filter.language.getName">
            </div>
          </div>
        </article>
      </ul>
    </div>
  </div>
</section>

<!-- Linguagem principal selecionada -->
<section id="main-filters" *ngIf="mainLanguages.length > 0">
  <h5>Principais filtros</h5>

  <div class="main-languages" *ngFor="let mainLanguage of mainLanguages, let i = index" [ngClass]="i === 0 ? 'border-top' : ''">
    <h2>{{ mainLanguage.getName }}</h2>
    <p>{{ mainLanguage.getDesc }}</p>
    <mat-icon class="main-language-close" (click)="toggleActive(mainLanguage)">close</mat-icon>
  </div>
</section>
